# Rust build artifacts
noir-tauri/src-tauri/target/

# Node modules
noir-tauri/node_modules/

# OS files
.DS_Store
*.swp
*.swo

# IDE
.idea/
.vscode/

# Logs
*.log

# Backups
backups/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
